{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "importOrder": ["^components/(.*)$", ".s?css$", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
